.course-container {
    display: inline-flex;
}

.course-card {
    width: 220px;
    height: 320px;
    margin: 10px 10px;
    background-color: #F8F9F8;
}

.course-name {
    text-align: center;
}

.details {
    display: flex;
    margin: 10px 0px;
}

.course-type {
    width: 50%;
    font-weight: bold;
}

.course-buttons {
    display: flex;
}

.btn {
    width: 140px;
}