<div class="course-container">
    <div class="course-card">
        <div><img src="" alt=""></div>
        <div class="course-name">
            <h4></h4>
        </div>
        <div class="details">
            <div class="course-type"></div>
            <div class="course-price"><b></b></div>
        </div>
        <div class="course-buttons">
            <button class="btn btn-buy">Buy Now !!!</button>
            <button class="btn btn-show">Show in Details</button>
        </div>
    </div>
</div>