.container {
    margin-top: 50px;
    padding: 20px 30px;
    background-color: #eee;
}

h2 {
    margin-left: 50px;
}

.more-products {
    display: flex;
}

.btn-more {
    min-width: 160px;
    margin-top: 10px;
    padding: 10px 0px;
    background-color: #4caf52;
}

.myimg {
    width: 320px;
    height: 280px;
    object-fit: cover;
    overflow: hidden;

}

.course-container {
    display: inline-flex;
}

.course-card {
    width: 220px;
    height: 320px;
    margin: 10px 10px;
    background-color: #F8F9F9;
}

.course-name {
    text-align: center;
}

.details {
    display: flex;
    margin: 10px 0px;
}

.course-type {
    width: 50%;
    font-weight: bold;
}

.course-buttons {
    display: flex;
}

.btn {
    width: 140px;
}